//Square
$square-size: 150px;
$squares: 12;
$radius: 10;
//Animations
$animation-duration: 10s;
//Colors
$true-blue: #4465b6ff;
$mint-cream: #e6efeeff;
$lavender-blue: #c0b9ddff;
$light-pink: #f6a6abff;

#container {
  background-color: $mint-cream;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sqr {
  width: $square-size;
  height: $square-size;
  position: absolute;
  border: solid $true-blue 2px;
}

@for $squaresIndex from 1 through $squares {
  $angle: 180deg + $squaresIndex * 10deg;
  #container div:nth-child(#{$squaresIndex}) {
    animation: squareToCircle#{$squaresIndex}
      $animation-duration
      infinite
      (0.5s * $squaresIndex);
  }
  @keyframes squareToCircle#{$squaresIndex} {
    0% {
      border: solid $lavender-blue 2px;
    }
    50% {
      transform: rotate($angle);
      border: solid $light-pink 2px;
      border-radius: 100%;
      height: $square-size/2;
      width: $square-size;
    }
    100% {
      transform: rotate(180deg);
      border: solid $true-blue 2px;
    }
  }
}
